/* Bookcase.css */

.bookcase {
  padding: 20px;
}

.book {
  margin-bottom: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.book:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

input {
  padding: 5px;
  margin-right: 5px;
}

button {
  background-color: #f0f0f0;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #ccc;
}
